{% extends 'base.html' %}

{% block title %}MainPage{% endblock %}

{% block body %}
    {% if user.is_authenticated %}

    Hi {{ user.username }}!<br>

    {% for Customer in Customers %}
        <a href = "/detail/{{Customer.id}}">{{ Customer.id }} </a> <br>
        <a href = "/detail/{{Customer.id}}">{{ Customer.tc_no }} </a> <br>
        <a href = "/detail/{{Customer.id}}">{{ Customer.name }} </a> <br>
        <a href = "/detail/{{Customer.id}}">{{ Customer.surname }} </a> <br>
        {{ Customer.phone_no }} <br>
        {{ Customer.city }} <br>
        {{ Customer.district }} <br>
        {{Customer.registration_date}}<br>
    {% endfor %}

    
    {% else %}
    <p>You are not logged in</p>
    <a href = "{% url 'login' %}">Log In</a>
    {% endif %}

{% endblock %}
